// Mixin: Groupfix
//
// Floating Elements need a clear
//
// usage:
// .wrap {
//   @include groupfix();
//   .floatingElements {
//      float: left;
//   }
// }
//
@mixin groupfix() {
    &:after {
        display: table;
        clear: both;
        content: '';
    }
}
